@use '../../constants/styles.scss' as *;

.input {
    &__form {
        width: 435px;
        height: 50px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: $color-text;

        &-error {
            border-bottom: 1.67px solid $color-error;
        }

        &-normal {
            border-bottom: 1.67px solid $color-text;
        }

        &:focus {
            outline: none;
            border-bottom: 1.67px solid $color-primary;
        }
    }

    &__password {
        &-eye {
            position: absolute;
            left: 410px;
            top: 15px;
            width: 20px;
            height: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: $color-text-muted;
        }
    }

    &__error {
        color: $color-error;
        font-size: 10px;
        font-weight: 400;
        height: 10px;

        &--hidden {
            visibility: hidden;
            height: 10px;
        }
    }
}