 .input {
   &__form {
     width: 435px;
     height: 50px;
     background-color: transparent;
     border: none;
     font-size: 16px;
     color: $color-text;
     border-bottom: 1.67px solid $color-text;

     &--error {
       border-bottom: 1.67px solid $color-error;
     }

     &:focus {
       outline: none;
       border-bottom: 1.67px solid $color-primary;
     }
   }

   &__password {
     &-toggle {
       position: absolute;
       right: 8px;
       top: 50%;
       transform: translateY(-50%);
     }

     &-eye {
       width: 20px;
       height: 20px;
       color: $color-text-muted;
     }
   }

   &__error {
     color: $color-error;
     font-size: 12px;
     font-weight: 600;
     height: 10px;
     margin-top: 5px;

     &--hidden {
       visibility: hidden;
       height: 10px;
     }
   }
 }
