.modal {
  &__title {
    font-size: 16px;
    text-align: left;
    color: $color-text;
    margin-top: 5px;
  }

  &__btn {
    display: flex;
    gap: 20px;
    justify-content: center;

    

    &-cancel {
      border: 1px solid;

      background-color: $color-logOut-button;

      &:hover {
        background-color: transparent !important;
        opacity: 0.5;
      }
    }
  }

}
