.create-post {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 148px;
  height: 35px;
  padding: 16px 10px;
  border-radius: 8px;
  border: none;
  background-color: $color-text;
  color: $color-white;
  cursor: pointer;
  font-size: 16px;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.8;
  }
}
