.btn {
  min-width: 92px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: 600;

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
  }

  &--loading {
    cursor: not-allowed;
    opacity: 1;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $color-primary;
    border: 2px solid $color-primary;

    &:hover {
      background-color: $color-secondary-hover;
      color: $color-white;
      border-color: $color-secondary-hover;
    }
  }

  &--icon {
    background-color: transparent;
    padding: 0;
    width: fit-content;
    height: 28px;
    min-width: 0;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__content {
      gap: 2px;
    }
  }

  &:active {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
