.post__title {
  margin: 0.25rem 0 0;
  color: $color-text;

  &-author {
    font-size: 1rem;
    font-weight: 600;
  }

  &-heading {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
  }
}
