.my-profile {
  &__layout-profileInfo {
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding: 32px;

    @include tablet {
      width: 100%;
      padding: 0;
    }
  }

  &__loader,
  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 1rem;
    padding: 0 16px;
  }

  &__error {
    margin: 0;
    color: $color-error;
  }
}
