.my-profile {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  &__content {
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
    gap: 32px;

    &-buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 0 0 200px;
      margin: 5px 0 0 0;
      position: relative;
      z-index: 3;

      @include tablet {
        display: none;
      }

      &-newPost {
        min-width: 150px;
        padding: 8px 16px;

        &-content {
          display: inline-flex;
          align-items: center;
          gap: 12px;

          &-icon {
            font-size: 14px;
          }
        }
      }
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin-top: 90px;
      padding: 0 12px;
    }

    @include mobile {
      margin-top: 80px;
      gap: 12px;
    }
  }

  &__loader,
  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 1rem;
    padding: 0 16px;
  }

  &__error {
    margin: 0;
    color: $color-error;
  }
}
