.home {
  color: $color-text;

  &__layout-sidebar {
    @include tablet {
      display: none;
    }
  }

  &__layout-posts {
    display: flex;
    justify-content: center;
    padding: 30px 60px;
    margin-top: 64px;
  }
}
