.post__detail-list-comment {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 18px;
  border-radius: 18px;
  background-color: rgba($color-primary, 0.05);
  position: relative;

  &-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &-content {
    margin: 0;
    color: $color-text;
    white-space: pre-wrap;
    line-height: 1.5;
    font-weight: 600;
  }

  @include laptop {
    padding: 16px;
    gap: 12px;

    &-avatar {
      width: 44px;
      height: 44px;
    }

    &-content {
      font-size: 0.95rem;
    }

    &-actions {
      gap: 10px;
      right: 16px;
      bottom: 16px;

      &-like {
        svg {
          font-size: 1rem;
        }
      }
    }
  }

  @include tablet {
    padding: 14px;
    gap: 10px;

    &-avatar {
      width: 40px;
      height: 40px;
    }

    &-content {
      font-size: 0.9rem;
      font-weight: 600;
    }

    &-actions {
      right: 14px;
      bottom: 14px;
    }
  }

  @include mobile {
    padding: 12px;
    gap: 10px;

    &-avatar {
      width: 36px;
      height: 36px;
    }

    &-body {
      gap: 6px;
    }

    &-content {
      font-size: 0.8rem;
      font-weight: 500;
    }

    &-actions {
      right: 12px;
      bottom: 12px;
    }
  }
}
