.profile {
  &__sidebar {
    position: relative;
    margin-top: 73px;
    padding-left: 170px;

    @media (width <=600px) {
      padding-left: 12px;
      margin-top: 96px;
    }

    &-card {
      width: 250px;
      background: $color-white;
      border-radius: 18px 18px 28px 28px;
      box-shadow: $shadow-elevation-1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 24px 0;

      &-avatar {
        width: 71px;
        height: 71px;
        border-radius: 50%;
        display: block;
        background-image: url('@/assets/Icons/userProfilePhoto.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 5px;
      }

      &-info {
        text-align: center;
        margin-bottom: 5px;

        &-name {
          font-size: 16px;
          font-weight: 600;
          color: $color-text;
          margin: 0 0 6px 0;
        }

        &-email {
          max-width: 140px;
          margin: 0 auto;
          color: $color-text-subtle;
          font-size: 13px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &-newPost {
        width: 200px;
        height: 48px;
        border-radius: 8px;
        background: $color-primary;
        color: $color-white;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 20px;

        &:enabled:hover {
          background: $color-primary-hover;
        }
      }

      &-newPost-content {
        display: inline-flex;
        align-items: center;
        gap: 10px;

        &-icon {
          font-size: 18px;
        }

      }

      &-stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 8px;

        &-stat {
          display: flex;
          flex-direction: column;

          &-span {
            color: $color-text-subtle;
            font-size: 20px;
            font-weight: 600;
          }

          &-value {
            color: $color-primary;
            font-weight: 500;
            font-size: 20px;
          }
        }
      }

      &-logout {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $border-color-light;
        padding: 20px 24px 28px;

        .btn-logout {
          display: inline-flex;
          align-items: center;
          gap: 12px;
          color: $color-logOut-button;
          background: transparent;
          border: none;
          cursor: pointer;
          font-size: 24px;
        }
      }

    }
  }

}
