.user-profile {
  color: $color-text;

  &__layout-userInfo {
    margin-top: 0;

    &-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    &-error {
      color: $color-error;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
    }
  }
}
