.user-profile {
  color: $color-text;

  &__layout-userInfo {
    margin-top: 50px;

    &-error {
      color: $color-error;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
    }
  }
}
