.my-profile {

  &__content {
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
    gap: 32px;

    &-buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 0 40px auto;
      margin: 5px 140px;

      @include tablet {
        display: none;
      }

      &-newPost {
        min-width: 120px;
        padding: 8px 16px;

        &-content {
          display: inline-flex;
          align-items: center;
          gap: 12px;

          &-icon {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__loader,
  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 1rem;
  }

  &__error {
    margin: 0;
    color: $color-error;
  }
}

.my-profile {
  &__card {
    flex: 1 1 auto;
  }
}

@include tablet {
  .my-profile {
    &__content {
      margin-top: 96px;
    }
  }
}
