.my-profile__card {
  background-color: $color-white;
  color: $color-text;
  width: 100%;
  max-width: 752px;
  margin: 0 40px;
  border-radius: 25px;
  box-shadow: $shadow-elevation-1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include laptop {
    max-width: calc(100% - 70px);

    .my-profile__card-stats {
      &-item {
        .value {
          font-size: 20px;
          font-weight: 600;
        }

        .label {
          font-size: 16px;
          color: $color-text-subtle;
        }
      }
    }
  }

  @include tablet {
    max-width: calc(100% - 70px);
  }

  @include mobile {
    max-width: calc(100% - 70px);

    .my-profile__card-stats {
      &-item {
        .value {
          font-size: 16px;
          font-weight: 600;
        }

        .label {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  &-back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: $color-text;
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 4px;

    &-avatar {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-info {
      display: flex;
      flex-direction: column;

      &-name {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
      }

      &-email {
        color: $color-text-subtle;
        margin: 0;
      }
    }
  }

  &-separator {
    height: 1px;
    background: $border-color-light;
    width: 100%;
  }

  &-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      padding-bottom: 10px;

      .value {
        font-size: 48px;
        font-weight: 600;
        color: $color-primary;
      }

      .label {
        font-size: 25px;
        color: $color-text-subtle;
      }

      &.active::after {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 3px;
        background: $color-primary;
        border-radius: 2px;
      }
    }
  }
}
