.my-profile__card {
  width: 100%;
  max-width: 900px;
  background: $color-white;
  border-radius: 32px;
  box-shadow: $shadow-elevation-1;
  padding: 40px;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-text;

  &-back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: $color-text;
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 4px;

    &-avatar {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-info {
      display: flex;
      flex-direction: column;

      &-name {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
      }

      &-email {
        color: $color-text-subtle;
        margin: 0;
      }
    }
  }

  &-separator {
    height: 1px;
    background: $border-color-light;
    width: 100%;
  }

  &-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      position: relative;

      .value {
        font-size: 48px;
        font-weight: 600;
        color: $color-primary;
      }

      .label {
        font-size: 25px;
        color: $color-text-subtle;
      }

      .active::after {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 3px;
        background: $color-primary;
        border-radius: 2px;
      }
    }
  }
}
