 .signup {
   display: flex;
   width: 100%;
   min-height: 100vh;

   &__register-container {
     flex: 1;
     display: flex;

     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 40px 60px;
     font-family: Arial;

     &-content {
       width: 100%;
       max-width: 435px;
     }

     &-header {
       display: flex;
       justify-content: start;
       align-items: center;
       color: $color-primary;
       font-size: 30px;
       gap: 35px;
       transform: scale(0.70);
       transform-origin: left top;
       margin-bottom: -40px;

       img {
         width: 52px;
         height: 52px;
       }
     }

     &-form {
       display: flex;
       flex-direction: column;
       width: 100%;
       gap: 30px;

       &-separator {
         display: flex;
         align-items: center;
         text-align: center;
         margin: 10px 0;
         color: $color-text-subtle;

         &-line {
           flex: 1;
           height: 1px;
           background-color: $color-border-muted;
           margin: 15px;
           border: none;
         }
       }

       &-btnSignUp {
         height: 50px;
       }

       &-btnLogin {
         height: 50px;
         color: $color-text-muted;
         border: 1px solid $color-primary;
         font-size: 14px;

         &-span {
           color: $color-primary;
         }
       }
     }
   }

   &__image-container {
     flex: 1;
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
     overflow: hidden;

     img {
       width: 100%;
       height: 100%;
     }
   }

   @media (max-width: 768px) {

     &__image-container {
       display: none;
     }
   }
 }
