 .signup {
   display: flex;
   width: 100%;
   min-height: 100vh;

   &__register-container {
     flex: 1;
     display: flex;

     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 40px 60px;
     font-family: Arial;

     &-content {
       width: 100%;
       max-width: 435px;
     }

     &-header {
       display: flex;
       width: 100%;
       align-items: center;
       justify-content: start;
       gap: 30px;

       img {
         width: 40px;
         height: 40px;
       }
     }

     &-form {
       display: flex;
       flex-direction: column;
       width: 100%;
       gap: 30px;


       &-separator {
         display: flex;
         align-items: center;
         text-align: center;
         margin: 10px 0;
         color: $color-text-subtle;

         &-line {
           flex: 1;
           height: 1px;
           background-color: $color-border-muted;
           margin: 15px;
           border: none;
         }
       }

       &-btnLogin {
         height: 50px;
         padding: 10px;
         background-color: transparent;
         border: 1px solid $color-primary;
         cursor: pointer;
         color: $color-text-muted;
         font-weight: 300;

         &-span {
           color: $title-color;
           font-weight: bold;
         }

         &:hover {
           border-color: $title-color;
         }

         &:focus-visible {
           outline: 3px solid $title-color;
           outline-offset: 2px;
         }
       }

     }
   }

   &__image-container {
     flex: 1;
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
     overflow: hidden;

     img {
       width: 100%;
       height: 100%;
     }
   }

   @media (max-width: 768px) {

     &__image-container {
       display: none;
     }
   }
 }
