.posts-list {
  position: absolute;
  background-color: $color-white;
  color: $color-text;
  width: 752px;
  height: 1372px;
  top: 95px;
  left: 500px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px;
  gap: 30px;
  opacity: 1;
}
