.posts__list {
  background-color: $color-white;
  color: $color-text;
  width: 100%;
  max-width: 752px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &-item {
    padding: 1rem;
    border: 1px solid $color-border-muted;
    border-radius: 0.5rem;
  }
}
