 .notFound {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
   background-color: $background-color;
   text-align: center;
   padding: 24px;

   &__title {
     color: $title-color;
     margin: 0 0 12px;
     font-size: 2.25rem;
     line-height: 1.2;
   }

   &__message {
     color: $color-text-subtle;
     font-size: 1rem;
     margin: 0;
   }
 }
